@font-face {
	font-family: 'Pixelmix';
	src: url('./pixelmix.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Pixelmix';
	src: url('./pixelmix_bold.ttf') format('truetype');
	font-weight: normal;
    font-style: bold;
}